<div class="widget-tags widget">
    <h4 class="widget__title">Nube de etiquetas</h4>
    <div class="tags tags--lg">
        <div class="tags__list">
            <a routerLink="./">Promoción</a>
            <a routerLink="./">Herramienta eléctrica</a>
            <a routerLink="./">Los recién llegados</a>
            <a routerLink="./">Destornillador</a>
            <a routerLink="./">Wrench</a>
            <a routerLink="./">Mounts</a>
            <a routerLink="./">Electrodes</a>
            <a routerLink="./">Chainsaws</a>
            <a routerLink="./">Manometers</a>
            <a routerLink="./">Nails</a>
            <a routerLink="./">Air Guns</a>
            <a routerLink="./">Cutting Discs</a>
        </div>
    </div>
</div>
