<app-block-slideshow [withDepartments]="true"></app-block-slideshow>

<app-block-features></app-block-features>

<app-block-products-carousel
    header="Productos Destacados"
    layout="grid-4"
    [loading]="featuredProducts.loading"
    [products]="featuredProducts.products"
    [groups]="featuredProducts.groups"
    (groupChange)="groupChange(featuredProducts, $event)"
></app-block-products-carousel>

<app-block-banner></app-block-banner>

<app-block-products header="Superventas" layout="large-first" [products]="(bestsellers$|async) || []"></app-block-products>

<app-block-categories header="Categorías Populares" layout="classic" [categories]="(popularCategories$|async) || []"></app-block-categories>

<app-block-products-carousel
    header="Los recién llegados"
    layout="horizontal"
    [rows]="2"
    [loading]="latestProducts.loading"
    [products]="latestProducts.products"
    [groups]="latestProducts.groups"
    (groupChange)="groupChange(latestProducts, $event)"
></app-block-products-carousel>

<app-block-posts header="Últimas noticias" layout="list-sm" [posts]="posts"></app-block-posts>

<app-block-brands [brands]="(brands$|async) || []"></app-block-brands>

<app-block-product-columns>
    <app-block-product-columns-item header="Productos mejor valorados" [products]="(columnTopRated$|async) || []"></app-block-product-columns-item>
    <app-block-product-columns-item header="Ofertas especiales" [products]="(columnSpecialOffers$|async) || []"></app-block-product-columns-item>
    <app-block-product-columns-item header="Superventas" [products]="(columnBestsellers$|async) || []"></app-block-product-columns-item>
</app-block-product-columns>
